<%- include ("../partials/header") %>

<div class= "container">
    <div class="row">
        
        <div class="col-md-3">
            <p class="lead">CampBlogger</p>
            <div class= "list-group">
                <li class= "list-group-item active">Info1</li>
                <li class="list-group-item">Info2</li>
                <li class="list-group-item">Info3</li>
            </div>
        </div>

        <div class= "col-md-9">
            
            <div class="card" style="display:flex; flex-wrap: wrap; margin-top: 25px;">
                <img class="img-responsive img-thumbnail" src="<%= campground.image %>" alt= "<%= campground.name %>">
            
                <div class="card-body">
                    <h4 class="card-text float-right">$<%= campground.price %>/night</h4>
                    <h4 class="card-text"><a href=""><%= campground.name %></a></h4>
                    <hr>
                    <p><%= campground.description %></p>
                    <p><em>Submitted By: <strong><%= campground.author.username %></strong></em></p>
                    
                    <% if(currUser && campground.author.id.equals(currUser._id)){ %>                            <!-- currUser is available in template-->
                        <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>

                        <form class= "my-delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class= "btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>

            <div class="card" style="display:flex; flex-wrap: wrap; margin-top: 25px;">
                <div class="card-header">
                    <div class= "text-right">
                        <a class="btn btn-success"" href=" /campgrounds/<%= campground._id %>/comments/new">Add new Comment</a>
                    </div>

                    <hr>
    
                    <% campground.comments.forEach(function(comment){ %>
                    <div class= "row">
                        <div class= "col-md-12">
                            <strong><%= comment.author.username%></strong>
                            <span class= "float-right"> <%= comment.created.toDateString() %></span>
                            <p><%= comment.text%></p>

                            <% if(currUser && comment.author.id.equals(currUser._id)){ %>
                                <a class= "btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
                            
                                <form class="my-delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            <% } %>

                            <hr>
                        </div>

                    </div>
                    <% }) %>
                        
                </div>
            </div>
            
        </div>

    </div>
</div>
    
<%- include ("../partials/footer") %>